{%extends 'home/base.html'%}
{%load static%}
{% block content%}
<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom ">EXPERIENCE</h1>
    <div class="d-flex justify-content-between">
        <div>
            <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-briefcase i-color fa-2x" ></i>
                <h3 class="text-white mt-2 ms-3" >SS Automation solutions pvt ltd</h3>
            </div>
            <h5 class="text-white mt-2 ms-5 ss-color">jr. Software Engineer</h5>
        </div>
        <div>
            <h4 class="text-white mt-2">Feb 2024-present</h4>
        </div>
    </div>
    <div class="text-white mt-5 ms-5" style="line-height: 4rem;">
        <ul>
            <li>Designed, developed, and maintained scalable backend services, APIs, and data-driven applications using Python, Django, and Flask.</li>
            <li>Collaborated with cross-functional teams to implement full-stack solutions, contributing to system architecture, design patterns, and best practices.</li>
            <li>Debugged, tested, and optimized code for performance and reliability, utilizing version control (Git) and CI/CD pipelines.</li>
            <li>Managed relational and NoSQL databases, ensuring efficient data storage and retrieval with PostgreSQL and MongoDB.</li>
            <li>Implemented RESTful APIs and microservices, enabling secure, efficient communication between components and third-party integrations.</li>
            <li>Contributed to Agile projects, actively participating in code reviews, sprint planning, and continuous improvement efforts.</li>
        </ul>
    </div>
</div>
{%endblock content%}