{% extends 'home/base.html'%}
{%load static%}

{%block content%}
<div class="mt-5">
    <div class="text-center">
    <img src="{% static 'home/image/arrow.png'%}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
    <h4 class="text-warning mt-3">Vishal Kumar Pandey <br>
        Software Engineer | BTech in Computer Science Engineering</h4>
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold">Hello</h1>
       <div class="px-4 mb-2" style="line-height: 2rem;">
        <p style="text-indent:100px">
            I am a dedicated software engineer with one year of professional experience, grounded in a solid foundation in Computer Science Engineering from Shri Shankaracharya Technical Campus. My expertise spans across full-stack development, where I am skilled in building scalable, efficient, and user-centric applications.</p>
            
        <p>In my current role, I focus on delivering high-quality software solutions by combining strong problem-solving skills with a deep understanding of industry best practices. I thrive on tackling challenging projects, refining code for optimal performance, and collaborating closely with cross-functional teams to achieve impactful results. My work is driven by a commitment to innovation, precision, and continual learning.</p>
            
        <p>  As I advance in my career, I am eager to explore new technologies and contribute to meaningful projects that push the boundaries of software development.</p>
       </div>
    </div>

</div>

{%endblock content%}